<div>
	<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col" *ngFor="let res of racesAry">
        <h2>{{res.raceName}}</h2>
        <p><strong>season:</strong> {{res.season}} <br>
        <strong>date:</strong> {{res.date}} <br></p>
        <div class="row">
        	<div class="col-md-4 driverList" *ngFor="let rslt of res.Results" >
                <div class="media">
                     <div class="icon mr-4 driverList__icons">
                         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users align-middle"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                      </div>
                    <div class="media-body driverList__dtls">
                        <h3  class="h4"> Dirver Details</h3>
                        <strong>ID & Code: </strong> {{ rslt.Driver.driverId }} | {{ rslt.Driver.code }}<br>
                        <strong>Falimy Name: </strong>{{ rslt.Driver.familyName }}<br>
                        <strong>Given Name:</strong> {{ rslt.Driver.givenName }}<br>
                        <strong>DOB: </strong> {{ rslt.Driver.dateOfBirth }}<br>
                        <strong>Country: </strong> {{ rslt.Driver.nationality }}<br>
                        <!-- routerLink="/project-detail/{{rslt.Driver.driverId}}" -->
                        <a class="btn btn-primary" href="{{ rslt.Driver.url }}" target="_blank">Wikipedia Details</a> <a class="btn btn-success" routerLink="/project-detail/{{rslt.Driver.driverId}}" (click)="clickitem(rslt)" >Details page</a>
                    </div>    
                </div>    
        	</div>

        </div>
        
      </div>
     
    </div>

    <hr>

  </div>
</div>